@font-face {font-family:"OpenSans-CondLightItalic";
src:url("OpenSans-CondLightItalic.ttf") format("truetype");
}
@font-face {font-family:"Open Sans Condensed";
src:url("OpenSans-CondLight.ttf") format("truetype");
}
@font-face {font-family:"DejaVu Serif Bold Italic";
src:url("DejaVuSerif-BoldItalic.ttf") format("truetype");
}
@font-face {font-family:"DejaVu Serif Condensed Bold";
src:url("DejaVuSerifCondensed-Bold.ttf") format("truetype");
}
