/* 
    Document   : main
    Created on : 01-Apr-2012, 19:06:58
    Author     : vovakm
    Description:
        ExtJS styles and icons
*/

.bmenu {
    background-image: url(menu-show.gif)	!important;
}
/* global menu icons */
/*   search button */
.search-global    { background-image: url('/styles/img/icons/16/find.png') !important; }
.search-simple    { background-image: url('/styles/img/icons/16/attribution.png') !important; }
.search-advanced  { background-image: url('/styles/img/icons/16/award_star_add.png') !important; }
.search-by-name   { background-image: url('/styles/img/icons/16/user_student.png') !important; }
.search-by-ugroup { background-image: url('/styles/img/icons/16/group.png') !important; }
.search-by-login  { background-image: url('/styles/img/icons/16/key_l.png') !important; }
.search-by-pass   { background-image: url('/styles/img/icons/16/textfield_rename.png') !important; }
/*   statistic button */
.stat-global	{ background-image: url('/styles/img/icons/16/diagramm.png') !important; }
.stat-users		{ background-image: url('/styles/img/icons/16/user_astronaut.png') !important; }
.stat-sites		{ background-image: url('/styles/img/icons/16/page_white_world.png') !important; }
.stat-data		{ background-image: url('/styles/img/icons/16/traffic_usage.png') !important; }
.stat-date		{ background-image: url('/styles/img/icons/16/date.png') !important; }

.my-account   { background-image: url('/styles/img/icons/16/user_batman.png') !important; }
.exit         { background-image: url('/styles/img/icons/16/door_out.png') !important; }

#app-name div {
	text-align: center;
	font-size: 13px !important;
	padding: 0 5px !important;
	color: #777;
}

/* panels icons */
/*    right Side Panels */
.information-ico   { background-image: url('/styles/img/icons/16/information.png') !important; }
.settings-ico   { background-image: url('/styles/img/icons/16/setting_tools.png') !important; }
.datepicker-ico   { background-image: url('/styles/img/icons/16/calendar_view_month.png') !important; }



#search-simple input { border-radius: 2px !important; }

/* photo */
.picture-ico        { background-image: url('/styles/img/icons/16/picture.png') !important; }
.picture-ico-add    { background-image: url('/styles/img/icons/16/picture_add.png') !important; }
.picture-ico-delete { background-image: url('/styles/img/icons/16/picture_delete.png') !important; }
.picture-ico-edit   { background-image: url('/styles/img/icons/16/picture_edit.png') !important; }

#userPhoto {
    height: 210px;
    max-height: 210px;
    max-width: 170px;
    border: 1px solid #555;
    border-radius: 2px;
    /*margin-left: 50px;*/
    /*margin-bottom: 8px;*/
    text-align: center;
}